<h1> Shelters </h1>
<p>Shelter name: <%= @shelter.name %> </p>
<p>Address: <%= @shelter.address %> </p>

<h2> Statistics </h2>
<p>SHELTER: <%= @shelter.name %> </p>
<p> PETS AVAILABLE: <%= @shelter.adoptable_pet_count %> </p>
<p> AVERAGE AGE OF ADOPTABLE PETS: <%= @shelter.adoptable_avg_age %></p>
